body{
    font-family: Microsoft JhengHei;
    .banner{
        width: 1200px;
        height: 380px;
        position: relative;
        &.opened{
            height: 380px;
        }
        &.opening{
            height: 380px;
            overflow: hidden;
            transition: height .5s;
        }
        &.closing{
            height: 50px;
            overflow: hidden;
            transition: height .5s;
        }
        &.closed{
            height: 50px;
            overflow: hidden;
        }
        a{
            display: inline-block;
            .img{
                width: 100%;
            }
        }        
        .btn{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px 20px;
            background-color: rgba(0,0,0,0.8);
            border: none;
            color: #fff;
            font-size: 20px;
        }
    }
}
